*{
    background-color: rgb(103, 243, 47);
    box-sizing: border-box;
    color:rgb(125, 47, 243)
}

p{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    border: 5px dashed rgba(178, 85, 23, 0.844);
    padding: 8px;
}

a{
    background-color: rgb(210, 218, 101);
    display: block;
    color: cyan
}

div{
    display: block;
    color: aliceblue;
    
}
